<h2><%= @listing.name %></h2>
</br>
<h4><strong>Description: </strong><%= @listing.body %></h4>
<p><strong>Price:  $</strong><%= @listing.price %></p>

<p>Comment(s):  (<%= @listing.comments.length %>)</p>

<div id="comment_group">
  <ul>
    <%= render @listing.comments %>
  </ul>
</div>

<%= form_for [@listing, @listing.comments.new], remote: true do |f|  %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :listing_id, :value => @listing.id %>

  <div><%= f.label :body, "Review" %><br />
  <%= f.text_area :body %></div>

  <div><%= f.submit "Add Comment" %></div>

<% end %>
